body {
    text-align: center;
    background: linear-gradient(#FF0000 0%, #0000FF 100%);
    background: repeat=no-repeat;
}

img {
    border-radius: 50%;
    width: 300px;
}

h1 {
    text-shadow: 2px 2px #F8BBD0;
    font-size: 30px;
}

#bio {
    padding: 20px;
    font-size: 25px;
    text-align: center;
}
#welcome{
    position: absolute;
    height: 800px;
    color: #FFFFFF;
    left:0;
top:0;
bottom:0;
 right:0;
    opacity:0.83;
     display: table;
    width:100px;
        height:100px;
            z-index:9
}
.links{
    float: left;
    color: #fff;
    padding-top:5px ;
    padding-bottom:5px ;
    padding-left: 9px;
    padding-right: 9px;
    font-family: fantasy;
    font-size: 20px; 
}
.links:hover{
    background-color:dodgerblue;
}
html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}


.article:hover {
    color:fuchsia;
}
.menu {
    list-style: none;
    position: fixed;
    top: 10px;
    right: 30px;
    cursor: pointer;
    z-index: 10;
    
}